*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.hero-section{
    min-height: 100vh;
    background-image: url(assets/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: #fff;
}
.navbar h2{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.navbar ul{
    list-style: none;
    margin-right: 2rem;
    
}
.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.2rem;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: .3rem;
}
 #home{
    background: #fff;
    color: #000;
    padding: auto;
}
 #btn{
    color: #000;
    background: rgb(246, 246, 60);
    padding: .3rem;
}
#btn:hover{
    background: transparent;
    border: 1px solid black;
    color: #fff;
}
.navbar ul li a:hover{
    background: #fff;
    color: #000;
    padding: auto;
    transition: .5s;
}
.hero-text{
    color: #fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h2{
    font-size: 5rem;
    margin-bottom: 13rem;
    font-weight: 700;
}
.hero-text p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}
.hero-text h1{
    font-size: 4rem;
    color: #000;
}
.hero-text button{
    padding: .7rem;
   background: yellow;
   border-radius: .5rem;
   margin-top: .5rem;
   font-size: 1.7rem;
   border: none;
   cursor: pointer;
}
.hero-text button:hover{
    background: transparent;
    border: 1px solid black;
    transition: 1s ease-in-out;
}
/* about section */
#about{
    height: 100vh;
     background-image: url(assets/burger1.jpg);
    background-position: center;
    background-size: cover; 
}
#about h1{
    color: rgb(224, 199, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22rem;
    padding: 20rem 2rem 1.7rem 0;
    font-size: 3rem;
    font-weight: bolder;
   
}
 #about p{
    color: rgb(234, 247, 247);
    margin-left: 40rem;
    font-style:italic;
    font-size: 1rem; 
} 
/* oder section */
#oder{
    height: 70vh;
    background: rgb(110, 64, 0);

  
}
.make-oder{
    width: 100%;
    margin: auto;
    padding: 0rem 5rem 0 30rem;
}
.col-container{
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
.content{
    max-width: 50%;
    margin-left: 40px;
    padding: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
  
 }
 input,textarea{
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: .9rem 1rem;
    resize: none;
    background-color: gainsboro;
    font-size: 1rem;
 }

input:focus ,textarea:focus{
   outline: .1rem solid yellow;
}
 .content h2{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    align-items: center;
 }
 .content h2 span{
    color: rgb(218, 218, 21);
 }
 .oder-now{
   color: yellow;
   background: #000;
   font-size: 1.5rem;
 }
 .oder-now:hover{
    background: transparent;
    border: 1.5px solid black;
    transition: 1s;
    cursor: pointer;
 }